<div class="wrapper">
  <div @fadeIn class="topbar" *ngIf="products">
    <form class="search-form" (submit)="$event.preventDefault()">
      <label for="search_input">Chercher sur le site</label>
      <input
        id="search_input"
        type="text"
        name="query"
        class="search"
        placeholder="ex.: commode, secrétaire, chaises..."
        autocomplete="off"
        maxlength="30"
        #search
        (keyup)="filterProducts(search.value)"
      />
    </form>
  </div>

  <ul class="products-list" *ngIf="displayedProducts.length > 0">
    <li *ngFor="let product of displayedProducts">
      <app-store-item [product]="product">
        {{ product.title }}
      </app-store-item>
    </li>
  </ul>
  <div class="no-results" *ngIf="searchQuery && displayedProducts.length <= 0">
    <p>
      Aucun produit correspondant à la recherche
      <strong>{{ searchQuery }}</strong
      >.
    </p>
    <p>
      De nouvelles trouvailles pourraient correspondre, ne les manquez pas en vous
      abonnant à notre <strong>liste de diffusion</strong>!
    </p>
    <img src="../../../../assets/img/arrow.svg" alt="" class="arrow" />
  </div>
</div>


<app-newsletter-form></app-newsletter-form>
