<div id="preload-images" style="display: none !important">
  <img src="../../../assets/img/delivery_furniture.svg" alt="" />
  <img src="../../../assets/img/delivery_arrow.svg" alt="" />
  <img src="../../../assets/img/delivery_house.svg" alt="" />
</div>

<div @fadeIn class="wrapper">
  <h2>Livraison</h2>

  <div class="container">
    <p>
      Les livraisons sont effectuées
      <strong>sous 15 jours le week-end</strong> par Monsieur à Paris,
      gratuitement, avec un rendez-vous. Une aide à l'installation est proposée
      si cela est nécessaire. <br /><br />

      Pour les villes limitrophes
      <strong
        ><a class="link" routerLink="/contact">contactez Monsieur</a></strong
      >
      pour savoir si la livraison est possible. <br /><br />

      Le retrait de la marchandise peut se faire également sur rendez-vous
      directement à l'atelier à <strong>Lacroix-Saint-Ouen dans l'Oise</strong>.
      <br /><br />

      Pour une expédition en France ou à l'étranger vous choisirez votre
      transporteur via le site <strong>Cocolis</strong> ou tout autre
      transporteur de votre choix. L’enlèvement de la marchandise devra être
      réalisé sous 15 jours.
    </p>

    <div class="illustration">
      <img aria-hidden="true" src="../../../assets/img/delivery_furniture.svg" alt="" />
      <img aria-hidden="true" src="../../../assets/img/delivery_arrow.svg" alt="" />
      <img aria-hidden="true" src="../../../assets/img/delivery_house.svg" alt="" />
    </div>
  </div>
</div>
