<footer>
  <nav>
    <ul>
      <li>
        <a routerLink="/livraison">Livraison</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <p loading="lazy" class="visit-instagram"><img src="../../../assets/img/instagram_icon.svg" alt=""><span>Retrouvez-nous sur</span><a href="https://www.instagram.com/reveilleparmonsieur/">Instagram</a></p>
  <img loading="lazy" src="../../../assets/img/rpm_logo.jpg" alt="Logo de Réveille par Monsieur dans l'esthètique d'un tampon encreur" class="logo" />

</footer>
