.newsletter_form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 2em 1em;
  align-items: center;
  justify-content: center;
  background-color: #faebd755;
  border: 1px solid #5551;
  outline: 1px solid #5551;
  outline-offset: 6px;

  img {
    width: 64px;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5em;
    max-width: 30em;
  }

  .newsletter_consent {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
  }

  label {
    font-size: 0.9rem;
    line-height: 1;
  }

  .inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  input[type='email'] {
    all: unset;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0.25em 0.5em;
    flex: 1;
  }

  button {
    all: unset;
    padding: 0.25em 1em;
    flex: 1;
    background-color: hsl(206, 76%, 42%);
    color: #fff;
    text-align: center;
    max-width: 6em;
    cursor: pointer;
  }
}
