<div id="preload-images" style="display: none !important">
  <img src="../../../assets/img/contact_address.svg" alt="" />
  <img src="../../../assets/img/contact_phone.svg" alt="" />
  <img src="../../../assets/img/contact_email.svg" alt="" />
</div>

<div class="wrapper">
  <h2>Contact</h2>

  <div class="cards">
    <div class="card card_name">
      <p class="name">Monsieur Guillaume</p>
    </div>
    <div class="card card_address">
      <div>
        <img src="../../../assets/img/contact_address.svg" alt="" />
      </div>
      <div>
        <span>Adresse</span>
        <p class="address_street">12 rue de Picardie</p>
        <p class="address_city">60610 Lacroix-Saint-Ouen</p>
      </div>
    </div>
    <div class="card card_phone">
      <div>
        <img src="../../../assets/img/contact_phone.svg" alt="" />
      </div>
      <div>
        <span>Téléphone</span>
        <p class="phone"><a class="link" href="tel:+33695327636">06 95 32 76 36</a></p>
      </div>
    </div>
    <div class="card card_email">
      <div>
        <img src="../../../assets/img/contact_email.svg" alt="" />
      </div>
      <div>
        <span>Email</span>
        <p class="email">
          <a class="link" href="mailto:reveilleparmonsieur@gmail.com"
            >reveilleparmonsieur@gmail.com</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

